@import '../../../static/variables';

.mst-progress-wrapper {
  height: 3rem;
  display: flex;
  align-items: center;
}
.mst-progress-bar {
  position: relative;
  width: 100%;
  height: 0.25rem;
  background-color: $primary;
}
.mst-progress-end-label-wrapper {
  position: absolute;
}
.mst-progress-end-label {
  position: absolute;
  bottom: -1.5rem;
  right: 0;
}
.mst-progress-valid {
  position: absolute;
  height: 0.25rem;
  background-color: $accent;
}
.mst-progress-invalid {
  position: absolute;
  height: 0.25rem;
  background-color: $error;
}
.mst-progress-thumb-wrapper {
  position: absolute;
  top: -0.875rem;
  width: 2rem;
  height: 2rem;
}
.mst-progress-thumb svg {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.mst-progress-thumb-label-left {
  position: absolute;
  top: -0.5rem;
  left: 10px;
  right: auto;
}
.mst-progress-thumb-label-right {
  position: absolute;
  top: -0.5rem;
  right: 10px;
  left: auto;
}
.mst-progress-thumb-shadow {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: -0.25rem;
  left: -0.25rem;
  background-color: $grey;
  border-radius: 50%;
  opacity: 0.5;

  animation-name: toggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.mst-progress-thumb-shadow--error {
  background-color: $error;
}

@keyframes toggle {
  50%  { width: 3rem; height: 3rem; left: -0.5rem; top: -0.5rem }
  100% { width: 2.5rem; height: 2.5rem; }
}
