.mst-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mst-start-end-item-left {
  padding-right: 2rem;
}
.mst-start-end-item-right {
  padding-left: 2rem;
}
.mst-start-end-days {
  padding-left: 2rem;
  text-decoration: underline;
}