.mst-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mst-start-end-item {
  width: 5rem;
}
.mst-start-end-item-left {
  text-align: left;
}
.mst-start-end-item-right {
  text-align: right;
}