@import '../../../static/variables';

.mst-input-wrapper {
  padding: 0.25rem;
  border: 1px solid $grey-light;
}
.mst-input {
  width: 100%;
  line-height: 1.5;
}
.mst-input:focus {
  outline: none;
}
