@import '../../../static/variables';

.mst-icon {
  color: $primary;
  cursor: pointer;
}
.mst-icon:focus {
  outline: 0;
}
.mst-icon-grey {
  color: $grey;
}
.mst-icon-accent {
  color: $accent;
}
.mst-icon-white {
  color: $white;
}
.mst-icon-error {
  color: $error;
}
.mst-icon-s {
  width: 14px;
  height: 14px;
}