@import '../../../static/variables';

.mst-picker-current {
  font-weight: bold;
}
.mst-picker-grey {
  color: $grey;
}
.mst-picker-green {
  color: $green;
}
.mst-picker-purple {
  color: $purple;
}
.mst-picker-error {
  padding: 0 0 1rem;

  color: $white;
  background-color: $error;
}
.mst-picker-item {
  line-height: 2;
}
.mst-picker-active {
  color: $accent;
}