@import '../../../static/variables';

.mst-app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;

  height: 3.5rem;
  background-color: $primary;
}
.mst-app-header-content {
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mst-app-header-brand {
  min-width: 9rem;
  color: $white;
}
.mst-app-header-slogan {
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: $yellow;
}
.mst-app-header-actions {
  display: flex;
  justify-content: flex-end;
  min-width: 9rem;
}

.mst-app-header-placeholder {
  height: 3.5rem;
}

@media screen and (min-width: $break-point) {
  .mst-app-header-content {
    width: $content-width;
    margin: 0 auto;
  }
}