@import '../../../static/variables';

.mst-project-item-title {
  padding-bottom: 2rem;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mst-project-item-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 1rem;
}