@import '../../../static/variables';

.mst-project-item-title {
  padding-bottom: 2rem;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mst-project-item-progress {
  padding-right: 3rem;
}