@import '../../static/variables';

.mst-project-content {
  padding: 1rem 0.5rem;
  border: 1px solid $grey-light;
}
.mst-project-content-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.mst-project-content-item-title {
  flex: 0 0 auto;
  width: 8rem;
  // text-align: right;
}
.mst-project-content-item-value {
  flex: 1 0 0%;
  padding: 0 2rem 0 1rem;
}