<mst-go-back></mst-go-back>

<div *ngIf="project">
  <mst-input [control]="titleControl"></mst-input>
  <mst-tab [tabs]="tabs" [defaultTabKey]="activeTab" (newTab)="changeTab($event)"></mst-tab>

  <div class="mst-card mst-padding-0-5 mst-padding-top-1-0">
    <ng-container *ngIf="activeTab === 'report'">
      <div class="mst-dl-item mst-dl-item-center" *ngIf="todos && todos.length > 0">
        <div class="mst-dl-item-title">clear todos:</div>
        <div class="mst-dl-item-value">
          <mst-progress [progress]="clearTodos.length / todos.length" [label]="clearTodos.length" [endLabel]="todos.length"></mst-progress>
        </div>
      </div>
  
      <div class="mst-dl-item mst-dl-item-center" *ngIf="todos && todos.length > 0">
        <div class="mst-dl-item-title">done todos:</div>
        <div class="mst-dl-item-value">
          <mst-progress [progress]="doneTodos.length / todos.length" [label]="doneTodos.length" [endLabel]="todos.length"></mst-progress>
        </div>
      </div>
  
      <div class="mst-dl-item mst-dl-item-center">
        <div class="mst-dl-item-title">days:</div>
        <div class="mst-dl-item-value">
          <mst-progress [progress]="usedDays / totalDays" [label]="usedDays" [endLabel]="totalDays"></mst-progress>
        </div>
      </div>
  
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">spent time:</div>
        <div class="mst-dl-item-value">
          {{ usedTime | secondFormatter }}
        </div>
      </div>
  
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">status:</div>
        <div class="mst-dl-item-value">
          <mst-picker [control]="statusControl" [options]="statusOptions"></mst-picker>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab === 'detail'">
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">start date:</div>
        <div class="mst-dl-item-value">
          <mst-datepicker [defaultDate]="startDate" (newDate)="pickStartDate($event)"></mst-datepicker>
        </div>
      </div>
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">end date:</div>
        <div class="mst-dl-item-value">
          <mst-datepicker [defaultDate]="endDate" [startDate]="startOfEndDate" (newDate)="pickEndDate($event)"></mst-datepicker>
        </div>
      </div>
      <div class="mst-dl-item" *ngIf="project.goal">
        <div class="mst-dl-item-title">goal:</div>
        <div class="mst-dl-item-value">
          <mst-input [control]="goalControl" [hasBorder]="false"></mst-input>
        </div>
      </div>
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">created at:</div>
        <div class="mst-dl-item-value">
          {{ project.createdAt | date:'short' }}
        </div>
      </div>
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">updated at:</div>
        <div class="mst-dl-item-value">
          {{ project.updatedAt | date:'short' }}
        </div>
      </div>
      <div class="mst-dl-item" *ngIf="project.finishedAt">
        <div class="mst-dl-item-title">finished at:</div>
        <div class="mst-dl-item-value">
          {{ project.finishedAt | date:'short' }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab === 'chart'">
      coming soon ...
    </ng-container>
  </div>

  <div class="mst-card mst-project-todos">
    <mst-todo-item [todo]="todo" *ngFor="let todo of todos"></mst-todo-item>

    <div *ngIf="todos && todos.length === 0">no todos yet.</div>
  </div>
</div>

<mst-todo-create [project]="project" (created)="createdTodo()"></mst-todo-create>