@import '../../../static/variables';

.mst-timeline-item {
  position: relative;
  padding-left: 1rem;
  border-left: 2px $accent solid;
}
.mst-timeline-icon {
  position: absolute;
  left: -13px;
  top: -7px;
}
.mst-timeline-date {
  padding: 0 0 0.25rem;

  font-size: 0.6rem;
  line-height: 0.6rem;
}

.mst-timeline-item-dot {
  border-left: 2px $green dotted;
  height: 1.5rem;
}