<div class="mst-timeline-item" [style.padding-bottom.px]="paddingBottom">
  <div class="mst-timeline-icon">
    <mst-icon name="keyboard_arrow_down" [color]="'accent'" *ngIf="!reverse"></mst-icon>
    <mst-icon name="keyboard_arrow_up" [color]="'accent'" *ngIf="reverse"></mst-icon>
  </div>
  <div class="mst-timeline-date">{{ time | date:'short' }} {{ id }}</div>

  <ng-content></ng-content>
</div>
<div class="mst-timeline-item-dot" *ngIf="isPeriodTooLong"></div>
<div class="mst-timeline-item" [style.height.px]="paddingBottom" *ngIf="isPeriodTooLong"></div>
