@import '../../../static/variables';

.mst-clarity-slider-wrapper {
  position: relative;
}
.mst-clarity-slider-divider {
  position: absolute;
  left: 50%;
  bottom: 1.75rem;
  width: 3px;
  height: 1.5rem;
  background-color: $green;
}
.mst-clarity-slider--clear .mst-slider-bar {
  .mst-slider-active {
    background-color: $green;
  }
  .mst-slider-thumb {
    background-color: $green;
  }
}