<div class="mst-datepicker-month-nav">
  <mst-arrow-left (click)="prevMonth()"></mst-arrow-left>
  <div class="mst-datepicker-month-current">{{ oneDayOfCurrentMonth | date:'MMMM yyyy' }}</div>
  <mst-arrow-right (click)="nextMonth()"></mst-arrow-right>
</div>
<mst-datepicker-month-row [days]="weeks"></mst-datepicker-month-row>
<mst-datepicker-month-row
  [days]="row1"
  (selectDay)="onSelectDate($event)"></mst-datepicker-month-row>
<mst-datepicker-month-row
  [days]="row2"
  (selectDay)="onSelectDate($event)"></mst-datepicker-month-row>
<mst-datepicker-month-row
  [days]="row3"
  (selectDay)="onSelectDate($event)"></mst-datepicker-month-row>
<mst-datepicker-month-row
  [days]="row4"
  (selectDay)="onSelectDate($event)"></mst-datepicker-month-row>
<mst-datepicker-month-row
  [days]="row5"
  (selectDay)="onSelectDate($event)"></mst-datepicker-month-row>
<mst-datepicker-month-row
  [days]="row6"
  (selectDay)="onSelectDate($event)"></mst-datepicker-month-row>
