<mst-go-back></mst-go-back>

<div *ngIf="todo">
  <mst-input [control]="titleControl"></mst-input>
  <mst-tab [tabs]="tabs" [defaultTabKey]="activeTab" (newTab)="changeTab($event)"></mst-tab>

  <div class="mst-card">
    <ng-container *ngIf="activeTab === 'report'">
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">days:</div>
        <div class="mst-dl-item-value">
          {{ todo.happenDate | daysDiff }}
        </div>
      </div>
  
      <div class="mst-dl-item mst-dl-item-center">
        <div class="mst-dl-item-title">knowledge:</div>
        <div class="mst-dl-item-value">
          <mst-knowledge-slider [defaultKnowledge]="defaultKnowledge" (newKnowledge)="updateKnowledge($event)"></mst-knowledge-slider>
        </div>
      </div>

      <div class="mst-dl-item mst-dl-item-center" *ngIf="todo.expectedTime">
        <div class="mst-dl-item-title">spent time:</div>
        <div class="mst-dl-item-value">
          <mst-todo-timer [expectedTime]="todo.expectedTime" [usedTime]="todo.usedTime"></mst-todo-timer>
        </div>
      </div>

      <div class="mst-dl-item">
        <div class="mst-dl-item-title">status:</div>
        <div class="mst-dl-item-value">
          <mst-picker [control]="statusControl" [options]="statusOptions"></mst-picker>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab === 'detail'">
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">happen date:</div>
        <div class="mst-dl-item-value">
          <mst-datepicker [defaultDate]="todo.happenDate" (newDate)="pickHappenDate($event)"></mst-datepicker>
        </div>
      </div>
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">expected time:</div>
        <div class="mst-dl-item-value">
          {{ todo.expectedTime | secondFormatter }}
        </div>
      </div>
      <div class="mst-dl-item" *ngIf="todo.note">
        <div class="mst-dl-item-title">note:</div>
        <div class="mst-dl-item-value">
          {{ todo.note }}
        </div>
      </div>
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">created at:</div>
        <div class="mst-dl-item-value">
          {{ todo.createdAt | mstDate:'short' }}
        </div>
      </div>
      <div class="mst-dl-item">
        <div class="mst-dl-item-title">updated at:</div>
        <div class="mst-dl-item-value">
          {{ todo.updatedAt | mstDate:'short' }}
        </div>
      </div>
      <div class="mst-dl-item" *ngIf="todo.finishedAt">
        <div class="mst-dl-item-title">finished at:</div>
        <div class="mst-dl-item-value">
          {{ todo.finishedAt | mstDate:'short' }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
