@import '../../../static/variables';

.mst-loading {
  position: fixed;
  top: 0;
  right: 50%;
  width: 0;
  height: 0.5rem;
  background-color: $accent;

  animation: rotating .5s linear infinite;
}
@keyframes rotating {
  50% {
    width: 2rem;
    right: calc(50% - 1rem);
  }
  100% {
    width: 0;
  }
}